{% extends 'base.html' %}

{% block content %}

<form class="form" action="/apidemo" method="post">
    <h4 class="form-heading">Choose a country and project</h4>
    {{form.hidden_tag()}} <!-- for CSRF -->
    <p>
        Country: {{form.country}}
    </p>
    <p>
        Project: {{form.project}}
    </p>
    <p>
        <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="div#progress-modal">Submit</button>
    </p>
</form>

<div id="progress-modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Fetching indicators...</h4>
        </div>
        <div class="modal-body">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 100%"/>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="../static/js/apidemo.js"></script>

{% endblock %}

