<html>
    <head>
        <title>{{title}}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="../static/style.css" type="text/css" />
    </head>
    <div><a href="/index">Home</a></div>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{
          url_for('static', filename='jquery-1.11.1.min.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        {% block content %}
        {% endblock %}
    </body>
</html>
