{% extends 'base.html' %}

{% block content %}

<h3>Please choose a country and project</h3>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <hr>
  <ul>
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
  </ul>
  <hr>
{% endif %}
{% endwith %}

<form action="/index" method="post" name="countryproject">
    {{form.hidden_tag()}} <!-- for CSRF -->
    <p>
        Country: {{form.country}}
        project: {{form.project}}
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
</form>

<script type=text/javascript>
  $(function() {
    $('select#country').off('click').on('click', function(){
        updateprojects($(this).val())
    });

    function updateprojects(country){
        $.post(
            $SCRIPT_ROOT + '/updateprojects',
            {'country': country},
            function(data) {
                        /* update project when country changes */
                        $('select#project').empty();
                        $.each(data["options"], function(i, value) {
                            $('select#project').append($('<option>').text(value).attr('value', value));
                        });
                     },
            'json'
        );
        return false;
    };

  });
</script>

{% endblock %}
