{% extends 'base.html' %}

{% block content %}

<h3>Please choose a country and sector</h3>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <hr>
  <ul>
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
  </ul>
  <hr>
{% endif %}
{% endwith %}

<form action="" method="post" name="countrysector">
    {{form.hidden_tag()}} <!-- for CSRF -->
    <p>
        Country: {{form.country}}
        Sector: {{form.sector}}
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
</form>

{% endblock %}
