{% extends 'base.html' %}

{% block content %}

{% with errors = get_flashed_messages(category_filter=["conversionerror"]) %}
{% if errors %}
    {%- for msg in errors %}
        <p class=error><strong>Error:</strong> {{ msg }} </p>
    {% endfor -%}
{% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["xlsuploaderror"]) %}
{% if errors %}
    <ul>
        {%- for msg in errors %}
        <li class=error><strong>Error:</strong> {{ msg }} </li>
        {% endfor -%}
    </ul>
{% endif %}
{% endwith %}

<form class="form" action="/uploadxls" method=post enctype=multipart/form-data>
    <h4 class="form-heading">Upload an XLS/XLSX for conversion to CSV and SQLite</h4>
    <p>
        <span class="btn btn-default btn-file">
            Choose File <input type=file name=file>
        </span>
    </p>
    <p>
        <button type=submit class="btn btn-primary" data-toggle="modal" data-target="div#progress-modal">Upload</button>
    </p>
</form>

<div id="progress-modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">File conversion in progress...</h4>
        </div>
        <div class="modal-body">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 100%"/>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
